@page "/addnewlesson/{myvalue}"
@using BlazorServer.Models
@using BlazorServer.Authentication
@using System.Data
@using MySqlConnector
@using Dapper
@inject IJSRuntime js
@inject IConfiguration _config
@inject NavigationManager navManager
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.SessionStorage.ISessionStorageService _currentSession

 
<PageTitle>Lesson Creation</PageTitle>
<h1>Add new lesson</h1>
@if (user == null)
{
    <p>Loading...</p>
}
else {
<p><i>Role: @user.Role</i></p>
}

<EditForm Model="@model" OnValidSubmit="@AddNewLessons" OnInvalidSubmit="@InvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary/>
    <div class="form-group">
        <label>Date</label>
        <InputDate disabled="true" @bind-Value="model.start_time" class="form-control" />
    </div>
    <div class="form-group">
        <label>Location</label>
        <InputText @bind-Value="model.location" class="form-control" />
    </div>
    <div class="form-group">
        <label>Instrument</label>
        <InputText @bind-Value="model.instrument" class="form-control" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <InputNumber @bind-Value="model.price" class="form-control" />
    </div>
    <div class="form-group">
        <label>Student Count</label> <!-- sita programiskai reikes idet veliau i think -->
        <InputNumber @bind-Value="model.student_count" class="form-control" />
    </div>
    <div>
        <label>Lesson type</label>
        <InputSelect @bind-Value="model.lesson_type" class="form-select" required="required">
            <option value="">Select a lesson type</option>
            <option value="Live">Live</option>
            <option value="Online">Online</option>

        </InputSelect>
    </div><br>
    <button disabled="@loading" class="btn btn-primary" type="submit">
        @if (loading) 
        {
            <span class="spinner-border spinner-border-sm mr-1"></span>
        }
        Add New Lesson
    </button>
</EditForm>


@code {
    [Parameter]
    public string myvalue{ get; set; }
    public string lessonDate{ get; set; }
    public string time{ get; set; }
    bool loading = false;
    public UserAccount user = new UserAccount();



    private Lesson model = new Lesson();

    // adds a lesson in the database
    private async Task AddNewLessons() 
    {
        loading = true;     // silly button effect to show that something is happening

        string sql = "INSERT INTO lessons (teacher_id, start_time, location, length, price, instrument, student_count, lesson_type) VALUES('" 
        + 1 + "','" // kol kas cia visada mokytojo id bus 1
        + model.start_time.ToString("yyyy-MM-dd HH:mm:ss") + "','"
        + model.location + "','"
        + model.length + "','"
        + model.price + "','"
        + model.instrument + "','"
        + model.student_count + "','"
        + model.lesson_type + "');";

        string connstring = _config.GetConnectionString("default");
        using (IDbConnection connection = new MySqlConnection(connstring))
        {
            await connection.ExecuteAsync(sql, new { });
        }

        loading = false;
        await js.InvokeVoidAsync("alert", "Lesson Added");
        navManager.NavigateTo("/TimeTable/show", true);
    }
    protected override void OnParametersSet()
    {
        //the param will be set now
        var test = myvalue;
    }

    private async Task InvalidSubmit()
    {
        await js.InvokeVoidAsync("alert", "Incorrect data. Please try again.");
    }

    protected override void OnInitialized()
    {
        GetSessionUser();
        string[] allChars = myvalue.Split('-');
        lessonDate = allChars[2]+  '-' + allChars[1] + '-' + allChars[0];
        time = allChars[3];
        model.start_time = DateTime.ParseExact(lessonDate + ' ' + time + ":00","yyyy-MM-dd H:mm",null);
    }

    public async Task GetSessionUser()
    {
        user = await _currentSession.GetItemAsync<UserAccount>("SessionUser");
    }

}